* {
    box-sizing: border-box;
    margin: 0; /*To fix that weird default margin around the body and other elements*/
    padding: 0;
    display: flow-root;
}

title {
    display: none; /*display:flow-root; above cause title show so changed removed the display*/
}

html {
    font-size: 62.5%;
}

nav > ul > li{
    float: left;
    width: 2% 4%;
    margin: 2% 4%;
}

header > nav > ul{
    margin: 0 0 0 40%;
    clear: both;
}

section > div{ /*For middle divisions*/
    text-align: center;
    padding: 1%;
    font-size: 4.5rem;
}

.firstSection > div{
    text-align: start;
}

.firstSection { 
    padding: 10% 23% 10% 37%;
}

p {
    font-size: 1.8rem;
    margin: 3% 0;
}

div > span {
    font-size: 2rem;
}

.centered > ul{
    text-align: center;
    margin: 10%;
}

.centered > ul > li{
    display: inline-block;
    padding-left: 1%;
    float: none;
    width: none;
    margin: none;
}

main > div > ul > li{ /*social media ul*/
    float: left;
    margin: 0 11% 0 0;   /*TODO figure out why that hell these ul keep banging with each other*/
}

.mainShift {
    margin: 10%;
    display: inline-block;
    font-size: 2.25rem;
}

h1 {
    padding-right: 60%;
    padding-bottom: 1.5%;
    font-size: 7.5rem;
}

h2 {
    
	
}

.headerUl {
    font-size: 1.5rem;
}

.formBar input {
    padding: 0 170% 15% 0;
    margin: 0 0 15% 0;
}

.formBar > li {
    float: left;
}

.formBar a {
    margin: 0 0 0 350%;
}

.mainAndHeader {
    background-image: url("https://freefoodphotos.com/imagelibrary/vegetables/white_cauliflower.jpg");
}

section {
    background-image: url("https://freefoodphotos.com/imagelibrary/fruit/apple_on_white.jpg");
}

section + section {
    background-image: url("https://freefoodphotos.com/imagelibrary/vegetables/uncooked_mushrooms.jpg");
}

section + section + section{
    background-image: url("https://freefoodphotos.com/imagelibrary/vegetables/various_mushrooms.jpg");
}

footer {
    background-color: antiquewhite;
}

