* {
    box-sizing: border-box;
    margin: 0; /*To fix that weird default margin around the body and other elements*/
    padding: 0;
    display: flow-root;
}

title {
    display: none; /*display:flow-root; above cause title show so changed removed the display*/
}

html {
    font-size: 62.5%;
}

nav > ul > li{
    float: left;
    width: 2% 4%;
    margin: 2% 4%;
}

header > nav > ul{
    margin: 0 0 0 40%;
    clear: both;
}

section > div, footer > * { /*For middle divisions and footer*/
    text-align: center;
    padding: 1%;
    font-size: 4.5rem;
}

.firstSection > div{
    text-align: start;
}

.firstSection { 
    padding: 10% 23% 10% 37%;
}

p {
    font-size: 1.8rem;
    margin: 3% 0;
}

div > span {
    font-size: 2rem;
}

.centered > ul{
    text-align: center;
    margin: 1%;
    font-size: 2rem;
}

.centered > ul > li{
    display: inline-block;
    padding-left: 1%;
    margin: 2% 1.5%;
    float: none;
    width: none;
    margin: none;
}

main > div > ul > li{ /*social media ul*/
    float: left;
    margin: 0 11% 0 0;
}

.mainShift {
    margin: 10%;
    display: inline-block;
    font-size: 2.25rem;
}

h1 {
    padding-right: 60%;
    padding-bottom: 1.5%;
    font-size: 7.5rem;
}

h2 {
    font-size: 6.5rem;
}

.headerUl {
    font-size: 1.5rem;
}

.formBar input {
    padding: 0 170% 15% 0;
    margin: 0 0 15% 0;
}

.formBar > li {
    float: left;
}

.formBar a {
    margin: 0 0 0 350%;
}

.firstSection a { /*button on firstSection*/
    font-size: 2rem;
}

.mainAndHeader {
    background-image: url("https://freefoodphotos.com/imagelibrary/vegetables/white_cauliflower.jpg");
}

section {
    background-image: url("https://freefoodphotos.com/imagelibrary/fruit/apple_on_white.jpg");
}

section + section {
    background-image: url("https://freefoodphotos.com/imagelibrary/vegeMove cursor tables/uncooked_mushrooms.jpg");
    padding: 4% 10% 4% 10%; 
}

section + section > ul { /*TODO: Figure out how to make the images wrap and be into 2 liones so ts organized*/
    clear: both; 
}

section + section > ul > li { 
    float: right;
    margin: 2% 1%;
    height: 20%;
    width: 23%; 
}

section + section > ul > li > img { 
    width: 100%;
    height: 450px;
    object-fit: cover; 
}

section + section + section{
    background-image: url("https://freefoodphotos.com/imagelibrary/vegetables/various_mushrooms.jpg");
}

section + section + section li{
    float: left;
    width: 50%;
}

section + section + section > iframe{
    width: 1500px;
    height: 800px;
}

footer {
    background-color: antiquewhite;
}

div + img {
    display: block;
    margin: auto;
}

li > span + span {
    font-weight: bold;
}
